html, * {
    background-color: #000;
    font-family: Tahoma, Verdana;
    margin:0;
    padding:0;
    color:#fff;
    font-size:14px;
}

.quiz, .nota {
    width:35%;
    margin:10px auto;
}

.quiz span {
    display:block;
}

h1 {
    text-align:center;
    font-size:30px;
}

h2 {
    margin:5px 0;
}

h3 {
    font-size:20px;
    text-decoration: underline;
    text-align:center
}

.resultado span {
    color:#fff;
}