html, * {
    background-color: #000;
    font-family: Tahoma, Verdana;
    margin:0;
    padding:0;
    color:#fff;
    font-size:14px;
}

.gradient {
    height:300px;
    width:450px;
    margin:0 auto;
    background: transparent;
    background-image: radial-gradient(rgba(0, 0, 0, 0.4) 65%, rgba(0, 0, 0, 1) 35%);
}

.index {
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width:450px;
    margin:0 auto;
}

.quiz, .nota {
    width:50%;
    margin:10px auto;
}

.quiz span {
    display:block;
}

h1 {
    text-align:center;
    font-size:30px;
}

h2 {
    margin:5px 0;
}

h3 {
    font-size:20px;
    text-decoration: underline;
    text-align:center
}

.gradient h4 {
    text-align:center;
    font-size:16px;
    color:yellow;
    background:transparent;
    padding: 140px 0 0 0
}

button {
    width:100px;
    padding:5px;
    border-radius:15px
}

.botao {
    width:100px;
    margin: 0 auto;
}

.nota {
    height:400px;
    background-size:cover;
    background-repeat:no-repeat;
}

.resultado span {
    color:#fff;
}